<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Heart Watch</title>
		<link rel="stylesheet" href="css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script type='text/javascript' src='http://localhost:35729/livereload.js'></script>
	</head>

	<body>
		<main class="group fullHeight">


			<content grid="2/3">
				<title-buttons class="group" palette="primary">
					<div id="closeButton" button="circle" palette="danger"></div>
					<div id="minimizeButton" button="circle" palette="warning"></div>
				</title-buttons>

				<heartrate palette="primary">
						<span type="title">HeartRate</span>
						<span number="bpm">172</span>
				</heartrate>

				<div class="group">
					<date grid palette="primary">
						<span id="time" number="time">9:45AM</span>
						<span id="date" number="date">7/28/2015</span>
					</date>

					<average grid palette="primary">
						<span type="title">Average</span>
						<span number="time">87</span>
					</average>

					<min grid palette="primary">
						<span type="title">Minimum</span>
						<span number="time">63</span>
					</min>

					<max grid palette="primary">
						<span type="title">Maximum</span>
						<span number="time">173</span>
					</max>
				</div>

				<log id="logWindow" palette="secondary"></log>
					
			</content>

			<sidebar grid="1/3" palette="primary">

				<settings>
					<setting-group palette="soft">
						<span type="group-title">Minimum HR</span>
						<setting-item>
							<span type="description">Rate: 150bpm</span>
							<input type=range min=0 max=100 value=0 step=10 palette="slider">
						</setting-item>

						<setting-item>
							<span type="description">Period: 0s</span>
							<input type=range min=0 max=100 value=0 step=10 palette="slider">
						</setting-item>
					</setting-group>
						

					<setting-group palette="soft">
						<span type="group-title">Maximum HR</span>
						<setting-item>
							<span type="description">Rate: 150bpm</span>
							<input type=range min=0 max=100 value=0 step=10 palette="slider">
						</setting-item>

						<setting-item>
							<span type="description">Period: 0s</span>
							<input type=range min=0 max=100 value=0 step=10 palette="slider">
						</setting-item>
					</setting-group>
				</settings>

				<application-buttons class="group">
					<div id="resetButton" button="box-text" palette="soft soft-button">
						Reset Bulb
					</div>

					<div id="clearButton" button="box-text" palette="soft soft-button">
						Clear Log
					</div>
				</application-buttons>
			</sidebar>
		</main>
		
		<script src="js/script.js"></script>
	</body>

</html>