<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Heart Watch</title>
		<link rel="stylesheet" href="css/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script type='text/javascript' src='http://localhost:35729/livereload.js'></script>
	</head>

	<body>
		<main class="group fullHeight">


			<content grid="2/3">
				<title-buttons class="group" palette="primary" layer="1">
					<div id="closeButton" button="circle" palette="danger"></div>
					<div id="minimizeButton" button="circle" palette="warning"></div>
				</title-buttons>

				<heartrate palette="primary" layer="1">
						<span type="title">HeartRate</span>
						<span number="bpm">172</span>
				</heartrate>

				<div class="group" layer="2">
					<date grid palette="primary">
						<span id="time" number="time"></span>
						<span id="date" number="date"></span>
					</date>

					<average grid palette="primary">
						<span type="title">Average</span>
						<span number="time">87</span>
					</average>

					<min grid palette="primary">
						<span type="title">Minimum</span>
						<span number="time">63</span>
					</min>

					<max grid palette="primary">
						<span type="title">Maximum</span>
						<span number="time">173</span>
					</max>
				</div>

				<log id="logWindow" palette="secondary"></log>
					
			</content>

			<sidebar grid="1/3" palette="primary">
				<span type="setting-title">Alarm Settings</span>
				<settings>
					<setting-group palette="soft">
						<span type="group-title">Minimum HR</span>
						<setting-item>
							<span type="description">Rate: <output id="minRate">30</output>bpm</span>
							<input oninput="outputUpdate(value, 'minRate')" type=range min=30 max=100 value=0 step=5 palette="slider">
						</setting-item>

						<setting-item>
							<span type="description">Period: <output id="minPeriod">0</output>s</span>
							<input oninput="outputUpdate(value, 'minPeriod')" type=range min=0 max=120 value=0 step=5 palette="slider">
						</setting-item>
					</setting-group>
						

					<setting-group palette="soft">
						<span type="group-title">Maximum HR</span>
						<setting-item>
							<span type="description">Rate: <output id="maxRate">100</output>bpm</span>
							<input oninput="outputUpdate(value, 'maxRate')" type=range min=100 max=210 value=0 step=5 palette="slider">
						</setting-item>

						<setting-item>
							<span type="description">Period: <output id="maxPeriod">0</output>s</span>
							<input oninput="outputUpdate(value, 'maxPeriod')" type=range min=0 max=120 value=0 step=5 palette="slider">
						</setting-item>
					</setting-group>

					<setting-group palette="soft">
						<span type="group-title">LIFX Bulb</span>
						<setting-item>
							<span type="description">Hue: <output id="bulbHue">0</output></span>
							<input oninput="outputUpdate(value, 'bulbHue')" type=range min=0 max=360 value=0 step=20 palette="slider">
						</setting-item>

						<setting-item>
							<span type="description">Brightness: <output id="bulbBrightness">0</output></span>
							<input oninput="outputUpdate(value, 'bulbBrightness')" type=range min=0 max=100 value=0 step=5 palette="slider">
						</setting-item>

						<setting-item>
							<span type="description">Rate: <output id="bulbRate">0</output>ms</span>
							<input oninput="outputUpdate(value, 'bulbRate')" type=range min=0 max=100 value=0 step=5 palette="slider">
						</setting-item>

						<setting-item>
							<span type="description">Period: <output id="bulbPeriod">0</output>s</span>
							<input oninput="outputUpdate(value, 'bulbPeriod')" type=range min=0 max=100 value=0 step=10 palette="slider">
						</setting-item>
					</setting-group>
				</settings>

				<application-buttons class="group">
					<div id="resetButton" button="box-text" layer="1" palette="soft soft-button">
						Reset Bulb
					</div>

					<div id="clearButton" button="box-text" layer="1" palette="soft soft-button">
						Clear Log
					</div>
				</application-buttons>
			</sidebar>
		</main>
		
		<script src="js/script.js"></script>
	</body>

</html>