$titleHeight: 25px;

body {
	-webkit-app-region: drag;
}

setting-item {
	-webkit-app-region: no-drag;
	outline: none;
}

main {
	overflow: hidden;
}
main, titlebar, sidebar, content, heartrate, date, minmax, log, title-buttons, application-buttons, settings {
	padding: 0;
	margin: 0;
	display: block;
	-webkit-user-select: none;
}

titlebar {
	height: $titleHeight;
	overflow: hidden;
}

sidebar {
	height: 100%;
}

heartrate {
	display: flex;
	flex-direction: column;
	height: 185px;
	justify-content: flex-start;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

date, average, min, max {
	height: 85px;
}

date {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: calc(28% - 1px);
	border-right: 1px solid rgba(0,0,0,0.4);
}

average, min, max {
	flex-direction: column;
	display: flex;
}
average, min {
	width: calc(24% - 1px);
	border-right: 1px solid rgba(0,0,0,0.4);
}
max {
	width: 24%;
}

log {
	height: 317px;
	overflow: scroll;
}

[button] {
	float: left;
	margin: 5px 0 5px 6px;
	border-width: 1px;
	border-style: solid;
	-webkit-app-region: no-drag;
	cursor: pointer;
}

[button~="circle"] {
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

[button~="box-text"] {
	padding: 10px;
	border-radius: 6px;
	width: calc(50% - 32px);
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
}

[number~="bpm"] {
	font-size: 130px;
	align-self: center;
	line-height: 130px;
}

[number~="time"] {
	font-size: 30px;
	font-weight: 100;
	align-self: center;
}

[number~="date"] {
	font-size: 19px;
	font-weight: 100;
	align-self: center;
}

[type~="title"] {
	font-size: 19px;
	font-weight: 100;
	padding: 10px 0 3px;
	display: block;
	align-self: center;
}

[type~="setting-title"] {
	font-size: 19px;
	font-weight: 100;
	padding: 10px 0 0;
	display: block;
	text-align: center;
}
[type~="group-title"] {
	font-size: 19px;
	font-weight: 100;
	display: block;
	align-self: center;
	text-align: center;
}
[type~="description"] {
	font-size: 14px;
	font-weight: 100;
	padding: 10px 0 3px;
	display: block;
	align-self: center;
}

log-item {
	font-size: 14px;
	display: block;
	font-weight: 100;
}

log-time {
	width: 15%;
	text-align: center;
	color: #000;
	font-weight: 300;
}

log-time, log-content {
	padding: 6px 15px;
	display: inline-block;
}

log-content {
	-webkit-user-select: text;
	-webkit-app-region: no-drag;
}

log-item:nth-of-type(2n+1) {
	background-color: rgba(255,255,255, 0.05);
}

settings {

	position: relative;
	display: block;
}

setting-group:first-of-type {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	margin-top: 6px;
}
setting-group {
	padding: 10px;
	margin: 0 6px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	display: block;
	border-bottom: none;
}
setting-group:last-of-type {
	border-width: 1px;
	border-style: solid;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	margin-bottom: 6px;
}

setting-item input {
	width: 100%;
}












