title-bar {
	height: 25px;
	overflow: hidden;
	border-bottom: 1px solid #000;
	-webkit-app-region: drag;
}

[button] {
	float: left;
	margin: 5px 0 5px 6px;
	border-width: 1px;
	border-style: solid;
	-webkit-app-region: no-drag;
}

[button~="circle"] {
	width: 12px;
	height: 12px;
	border-radius: 50%;
}