html, body {
	height: 100%;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

.fullHeight {
	height: 100%;
}

[grid] {
	float: left;
	position: relative;
}

[grid~="1/3"] {
	width: calc(38.19660112501051%);
}

[grid~="2/3"] {
	width: calc(61.80339887498948%);
}

[grid~="3/3"] {
	width: calc(100%);
}