@font-face {
  font-family: 'Roboto';
  src: url('roboto/Roboto-Thin.woff2') format('woff2');
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto';
  src: url('roboto/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('roboto/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('roboto/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
}

body {
	font-size: 100%;
	font-family: 'Roboto';
}